---
- include_role:
    name: kubernetes/common

# Kubernetes API Server Certificate
- set_fact:
    temp_ALT:
      - "{{ inventory_hostname }}"
      - "{{ kubernetes_internal_ip }}"
      - "127.0.0.1"
- include_tasks: "../../common/tasks/certificates.yml"
  vars:
    certificate_user: root
    cert_path: /etc/kubernetes
    cert_name: "kubernetes"
    certificate_CN: "kubernetes"
    certificate_O: "kubernetes"
    certificate_ALT: "{{ temp_ALT + kubernetes_hostnames }}"
- debug:
    msg: "Certificate change: {{ renew_certificate.changed }}"
  changed_when: renew_certificate.changed
  notify:
    - restart kubernetes cluster

# Admin Client Certificate
- include_tasks: "../../common/tasks/certificates.yml"
  vars:
    certificate_user: root
    cert_path: /etc/kubernetes
    cert_name: "admin"
    certificate_CN: "admin"
    certificate_O: "system:masters"

- name: Install etcd
  include_tasks: etcd.yml

- name: Install Control Plane
  include_tasks: controlplane.yml
