apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ca.{{ certificate_authority_name }}.cer
    server: https://127.0.0.1:{{ kubernetes_local_port }}
  name: {{ kubernetes_cluster_name }}
contexts:
- context:
    cluster: {{ kubernetes_cluster_name }}
    user: admin
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate: /etc/kubernetes/admin.cer
    client-key: /etc/kubernetes/admin.key
