apiVersion: v1
clusters:
- cluster:
    certificate-authority: certs/ca.{{ certificate_authority_name }}.pem
    server: https://{{ kubernetes_public_address }}:{{ kubernetes_public_port }}
  name: {{ kubernetes_cluster_name }}
contexts:
- context:
    cluster: {{ kubernetes_cluster_name }}
    user: system:kube-scheduler
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate: certs/system_kube-scheduler.cer
    client-key: certs/system_kube-scheduler.key
