Vagrant.configure("2") do |config|

    # Virtualbox
    config.vm.box = "debian/buster64"
    #config.vm.box = "debian/bullseye64" # Not yet supported by docker?
    #config.vm.box_version = "11.20210228.1"

    config.vm.synced_folder ".", "/vagrant", disabled: true

    config.vm.provision "ansible" do |ansible|
      ansible.vault_password_file = '~/tmp/kubernetes.txt'
      ansible.playbook = "playbooks/up.yml"
    end

    {% for i in machine_numbers: %}
    # Cloud machine {{ i }}
    config.vm.define "wolk{{ i }}" do |wolk{{ i }}|
      wolk{{ i }}.vm.hostname = 'wolk{{ i }}'
      wolk{{ i }}.vm.provider "virtualbox" do |vb|
        vb.gui = false
        vb.memory = "2048"
      end
      wolk{{ i }}.ssh.guest_port = "{{ 9900 + i }}"
      wolk{{ i }}.vm.network "private_network", ip: "{{ internal_network_a }}.{{ internal_network_b }}.{{ internal_network_c }}.{{ internal_network_d + i }}",
        virtualbox__intnet: "{{ internal_network_name }}"
      wolk{{ i }}.vm.network :forwarded_port, guest: 22, host: {{ 9900 + i }}, id: "ssh"
    end
    {% endfor %}
end